{% extends "/shared/_layout.html" %}

{% block title %} Steam Hub {% endblock %}

{% block SidenavBar_items %}
<a href="/" id="home">Home</a>
<a href="/" id="steamProfile">Profile</a>
{% endblock %}

{% block additional_css %}
<link rel="stylesheet" href="/static/css/steam.css">
{% endblock %}

{% block main_content %}

<div class="search-box">
    <button class="btn-search"><i style="font-size:24px" class="fa">&#xf002;</i></button>
    <input type="text" class="input-search" placeholder="Type to search steam game library...">
</div>


{% endblock %}