
.title {
    font-weight: bold;
}

.main_content {
    padding: 20px;
}

nav {
    background-color: #000;
    padding: 10px;
    font-size: 20px;
    color: white;
}

nav > a {
    color: white;
    margin-right: 10px;
}

#mySidenav a {
  position: absolute;
  left: -70px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: -5px;
}

#home {
  top: 10%;
  background-color: #555
}

#about {
  top: 20%;
  background-color: #f44336;
}